[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "news/category"
==
{% if categories|length > 0 %}
    <ul class="p-t-32">
{% for category in categories %}
    {% set postCount = category.post_count %}
    <li {% if category.slug == currentCategorySlug %}class="p-rl-4 p-b-19"{% endif %}>
        <a href="{{ category.url }}" class="flex-wr-sb-c f1-s-10 text-uppercase cl2 hov-cl10 trans-03">
        <span>
        {{ category.name }}</span> 
        {% if postCount %}
            <span>({{ postCount }})</span>
        {% endif %}
        </a><hr>
        {% if category.children|length > 0 %}
            <ul>
                {% partial __SELF__ ~ "::items"
                    categories=category.children
                    currentCategorySlug=currentCategorySlug
                %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
    
    </ul>
{% else %}
    <p>Никаких категорий найдено не было.</p>
{% endif %}