==
<footer id="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="widget">
                                <div class="widget-title">VietNews.ru</div>
                                <p class="mb-5">Вьетнам сегодня. Новости Вьетнама.<br>
                                    © 2020 - VIETNEWS.RU. All rights reserved.</p>
                                <div class="logo">
					<a href="{{ 'home'|page }}"><img src="{{'assets/images/logo_ru.png'|theme }}" alt="VietNews.ru"></a>
				</div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Экономика</div>
                                        <ul class="list">
                                            <li><a href="https://vietnews.ru/category/economy">Экономика </a></li>
    										<li><a href="https://vietnews.ru/category/business" >Бизнес</a></li>
    										<li><a href="https://vietnews.ru/category/science-and-technology">Наука и технология</a></li>
    										<li><a href="https://vietnews.ru/category/russia-and-vietnam">Россия и Вьетнам</a></li>
    										<li><a href="https://vietnews.ru/category/media-about-vietnam">СМИ о Вьетнаме</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Общество</div>
                                        <ul class="list">
                                            <li><a href="https://vietnews.ru/category/society">Общество</a></li>
                                            <li><a href="https://vietnews.ru/category/zdorove">Здоровье</a></li>
    										<li><a href="https://vietnews.ru/category/law">Закон</a></li>
    										<li><a href="https://vietnews.ru/category/history">История</a></li>
    										<li><a href="https://vietnews.ru/category/sport">Спорт</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Туризм</div>
                                        <ul class="list">
                                            <li><a href="https://vietnews.ru/category/travel">Туризм</a></li>
										<li><a href="https://vietnews.ru/category/culture">Культура</a></li>
										<li><a href="https://vietnews.ru/category/video">Видео</a><li>
										<li><a href="https://vietnews.ru/category/photo">Фото</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Контакты</div>
                                        <ul class="list">
                                            <li class="dropdown"><a href="{{ 'contact'|page }}">Контакты</a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">&copy; 2020 - All rights reserved.<a href="//vietnews.ru" target="_blank"> VietNews.ru</a> </div>
                </div>
            </div>
        </footer>