==
<div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li><a href="{{ 'home'|page }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                                    <li class="dropdown"><a href="https://vietnews.ru/category/category">Все новости</a>
                                        <ul class="dropdown-menu">                                            
                                            <li><a href="https://vietnews.ru/category/russia-and-vietnam">Россия и Вьетнам</a></li>
    										<li><a href="https://vietnews.ru/category/media-about-vietnam">СМИ о Вьетнаме</a></li>
										<li><a href="https://vietnews.ru/category/politic">Политика</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="https://vietnews.ru/category/economy">Экономика </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="https://vietnews.ru/category/economy">Экономика </a></li>
    										<li><a href="https://vietnews.ru/category/business" >Бизнес</a></li>
    										<li><a href="https://vietnews.ru/category/science-and-technology">Наука и технология</a></li>
                                        </ul>
                                    </li>    
                                    <li class="dropdown"><a href="https://vietnews.ru/category/society">Общество</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="https://vietnews.ru/category/society">Общество</a></li>
                                            <li><a href="https://vietnews.ru/category/zdorove">Здоровье</a></li>
    										<li><a href="https://vietnews.ru/category/law">Закон</a></li>
    										<li><a href="https://vietnews.ru/category/history">История</a></li>
    										<li><a href="https://vietnews.ru/category/sport">Спорт</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="https://vietnews.ru/category/travel">Туризм</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="https://vietnews.ru/category/travel">Туризм</a></li>
										<li><a href="https://vietnews.ru/category/culture">Культура</a></li>
										<li><a href="https://vietnews.ru/category/video">Видео</a><li>
										<li><a href="https://vietnews.ru/category/photo">Фото</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="{{ 'contact'|page }}">Контакты</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>