title = "Test Новость в детали"
url = "/test/:category/:slug"
layout = "news"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
contentType = "html"
force_show = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "news/category"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "news/category"

[PostBreadCrumbs]
categoryPage = "news/category"
postSlug = "{{ :slug }}"

[SeoBlogPost]
post = "post"

[FrontPostEditor]

[seriesList]
limit = 0
orderBy = "posts_count desc"
seriesPage = "news/series"

[searchForm]
resultPage = "news/search"
categoryFilter = 0

[timeToRead]
postSlug = "{{ :slug }}"
readingSpeed = 60
isRoundingUpEnabled = 1

[tagList]
orderBy = "name asc"
postSlug = "{{ :slug }}"
limit = 10
exposeTotalCount = 1
enableTagFilter = "never"
tagPage = "news/tag"
tagsPage = "news/tags"

[topPosts]
period = 2
category = 0
postPerPage = 5
postPage = "news/news"
slug = "{{ :slug }}"

[relatedPosts]
slug = "{{ :slug }}"
limit = 6
orderBy = "relevance desc"
postPage = "news/news"

[registerVisit]

[blocks]
==
<?php
function onEnd()
{
    if ($this->post) {
        $this['backendUser'] = BackendAuth::getUser();
    } 
}
?>
==
{% component 'SeoBlogPost' data=post %}
<!-- Breadcrumb -->
	<div class="container">{% set post = blogPost.post %}
		<div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">
			<div class="f2-s-1 p-r-30 m-tb-6">				
				<a href="/" class="breadcrumb-item f1-s-3 cl9">
					Главная
				</a>
                        {% if post.categories.count %}
                        {% for category in post.categories %}
				<a href="{{ category.url }}" class="breadcrumb-item f1-s-3 cl9">
					{{ category.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %} {% endif %}
				</a>

				<span class="breadcrumb-item f1-s-3 cl9">
					 {{ post.title }}
				</span>
			</div>

			<form class="form-inline" method="GET" action="{{ searchForm.resultPage|page }}">
			<div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
				<input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Поиск">
				{% if searchForm.categoryFilter %}
                <select name="cat[]" class="form-control">
                {% for key,cat in searchForm.categories %}
                    <option value="{{ key }}">{{ cat }}</option>
                {% endfor %}
                </select>
                {% endif %}
				<button type="submit" class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
					<i class="zmdi zmdi-search"></i>
				</button>
			</div>
			</form>
		</div>
	</div>
	
	{% if post.custom_fields.string==true %}
<iframe src="https://vietnews.ru/beta/themes/vietnewsru/assets/js/playerjs.html?file={{post.custom_fields.string}}" type="text/html" width="100%" height="100%" frameborder="0" autoplay="1" allowfullscreen default_quality="720p" ></iframe>
    {% endif %}
    
    <!-- SECTION VIDEO BACKGROUND -->{% if post.custom_fields.string==true %}
        <section class="text-light" data-bg-video="{{post.custom_fields.string}}">
            <div class="container">
                <div class="row align-items-center">
                    <div class="heading-text text-center text-light">
                        <h1>HTML5 Video background Section</h1>
                        <p>Nulla varius consequat magna, id molestie ipsum volutpat quis. A true story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>
                        <a class="btn" href="#"><i class="fa fa-tint"></i> Learn more</a>
                    </div>
                </div>
            </div>
        </section> {% endif %}
        <!-- end: SECTION VIDEO BACKGROUND -->
        
	<!-- Content -->
	<section class="bg0 p-b-140 p-t-10">
		<div class="container">		
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 p-b-30">
					<div class="p-r-10 p-r-0-sr991">
					
					<div class="bg-img1 size-a-3 how1 how-overlay1 lazyload" style="background-image: url({% if post.subtitle==true %}{{ post.subtitle }}{% else %}{{ post.subtitle| resize(720,605,{ mode: 'auto', quality: '80', extension: 'webp' }) }}{% endif%});">
			<div class="container h-full flex-col-e-c p-b-58">
							

				<h3 class="f1-l-5 cl0 p-b-16 txt-center respon2">
					{{ post.title}}
				</h3>
				
				

				<div class="flex-wr-c-s">
					
				</div>
			</div>
			<span class="f1-s-3 cl8 m-rl-7 txt-center">
						<strong>Рубрика:</strong>
							{% if post.categories.count %}
                        {% for category in post.categories %}
				 <a href="{{ category.url }}" class="f1-s-4 cl8 hov-cl10 trans-03">			
                            {{ category.name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %} {% endif %} 
						

						<span class="m-rl-3">-</span>

						<span>
							<i class="fas fa-clock"></i><span class="date"> {{ post.published_at.diffForHumans() }}</span>
						</span>
					</span>

					<span class="f1-s-3 cl8 m-rl-7 txt-center">
						<i class="fa fa-eye"></i> {{post.views}} {{ timesince|date }} {{ "now"|date_modify('+1 day')|date('d-m-Y') }} 
					</span>

					<a href="" class="f1-s-3 cl8 m-rl-7 txt-center hov-cl10 trans-03">
						{{ post.published? '':'<i class="fa fa-lock pl-2"></i>'|raw }} ({{ "Читать :count мин." |_({ count: timeToRead.minutes }) }}) {{ post.content | timeToRead(50, false) }}{{ date | localizeddate('full') }}
					</a>
		</div>
						<!-- Blog Detail -->
						<div class="p-b-70"> 
                     
{% component 'FrontPostEditor' %}
                            <p class="f1-s-11 cl6 p-b-25">
							
					<strong><h4>VietNews.ru :: "{{ post.summary|raw }}"</h4></strong><br>
						{% partial 'related2' %}
					</p><br>
						

							<p class="f1-s-11 cl6 p-b-25">
							
								{{ post.content_html|raw }}
								
								
							{% for item in blocks %}
                                {% if item.code == 'kompaniya' %}
                            
                               {{ item.title }} - Title
{{ item.subtitle }} - Subtitle
{{ item.content|raw }} - Content

{{ item.button_name }} - Name
{{ item.button_link }} - Link to
{{ item.button_class }} - CSS class
{{ item.button_position }} - Position

{{ item.image|media }} - Image
{{ item.color }} - Color
{{ item.sort_order }} - Order

{{ item.code }} - Code
{{ item.id }} - ID
                            
                                {% endif %}
                            {% endfor %}
							</p>							

							<!-- Tag -->
							<div class="flex-s-s p-t-12 p-b-15">
								<span class="f1-s-12 cl5 m-r-8">
									Тэги: 
								</span>
								
								<div class="flex-wr-s-s size-w-0">
								{% for tag in post.tags %}
									<a href="https://vietnews.ru/news/tag/{{ tag.slug }}" class="f1-s-12 cl8 hov-link1 m-r-15">
										 {{ tag.name }}
									</a>{% if not loop.last %}{% endif %}
									{% endfor %}								
   
								</div>
								
							</div>

							<!-- Share -->
							<div class="flex-s-s">
								<span class="f1-s-12 cl5 p-t-1 m-r-15">
									Поделиться:
								</span>
								
								<div class="flex-wr-s-s size-w-0">
									<!--<a href="#" class="dis-block f1-s-13 cl0 bg-facebook borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
										<i class="fab fa-facebook-f m-r-7"></i>
										Facebook
									</a>-->
									<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,reddit,linkedin,lj,viber,whatsapp,skype,telegram"></div>

									<!--<a href="https://twitter.com/vietnews.ru" class="dis-block f1-s-13 cl0 bg-twitter borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
										<i class="fab fa-twitter m-r-7"></i>
										Twitter
									</a>-->

									<!--<a href="#" class="dis-block f1-s-13 cl0 bg-google borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
										<i class="fab fa-google-plus-g m-r-7"></i>
										Google+
									</a>-->

									<!--<a href="#" class="dis-block f1-s-13 cl0 bg-pinterest borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
										<i class="fab fa-pinterest-p m-r-7"></i>
										Pinterest
									</a>-->
								</div>
							</div>
						</div>
						<div>
						<ins class="adsbygoogle"
                         style="display:inline-block;width:468px;height:60px"
                         data-ad-client="ca-pub-8101715655477045"
                         data-ad-slot="4113402428"></ins>
                         </div>

						<!-- Leave a comment -->
						<!--<div>
							<h4 class="f1-l-4 cl3 p-b-12">
								Оставить комментарий
							</h4>

							<p class="f1-s-13 cl8 p-b-40">
								Ваш адрес электронной почты не будет опубликован. Обязательные поля помечены
							</p>

							<form>
								<textarea class="bo-1-rad-3 bocl13 size-a-15 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20" name="msg" placeholder="Комментарий..."></textarea>

								<input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="name" placeholder="Ваше Имя*">

								<input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="email" placeholder="Email*">

								<input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="website" placeholder="Сайт">

								<button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10">
									Отправить комментарий
								</button>
							</form>
						</div>-->
						

						<hr>
						<div>
							<h4 class="f1-l-4 cl3 p-b-12">
								Похожие новости
							</h4>
							
							<div class="row p-t-35">
							
							{% partial "godspeed-flametree-theme!!ProductsMegaMenu" %}
							
						{% partial 'related' %}
					</div>





</div>
					</div>
				</div>
		
				
				<!-- Sidebar -->
				<div class="col-md-10 col-lg-4 p-b-30">
					<div class="p-l-10 p-rl-0-sr991 p-t-70">						
						<!-- Category -->
						<div class="p-b-37">
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									Рубрики
								</h3>
							</div>							
							{% partial 'categories' %}
						</div>						

						<!-- Popular Posts -->
						<div class="p-b-30">
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									Другие новости рубрики
								</h3>
							</div>

							<ul class="p-t-35">
							
							    {% partial 'new-popular' %}							    
								
							</ul>
						</div>
						
						<!-- Popular Posts -->
						<div class="p-b-30">
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									Самые читаемые на сегодня
								</h3>
							</div>

							<ul class="p-t-35">
							
							    {% set mostVisitedPosts = topPosts.mostVisitedPosts %}                               
                                		{% for post in mostVisitedPosts %}
                                <li class="flex-wr-sb-s p-b-30">{% if post.featured_images.count %}
                                	<a href="{{ post.url }}" class="size-w-10 wrap-pic-w hov1 trans-03">{% for image in post.featured_images %}	
                                		<img src="{{ image.path }}" alt="{{ image.description }}"
                                                    style="max-width: 100%" class="lazyload" />{% endfor %}
                                								</a>
                                		{% elseif post.subtitle == true %}
								<a href="{{ post.url }}" class="size-w-10 wrap-pic-w hov1 trans-03"> 
									<img src="{{ post.subtitle| resize(140,95,{ mode: 'exact' }) }}" alt="{{ image.description }}"
                    style="max-width: 100%" class="lazyload" /></a>{% endif %} 						
                                
                                	<div class="size-w-11">
                                		<h6 class="p-b-4">
                                			<a href="{{ post.url }}" class="f1-s-5 cl3 hov-cl10 trans-03">
                                				{{ post.title }}
                                			</a>
                                		</h6>
                                
                                		<span class="cl8 txt-center p-b-24"> {% if post.categories.count %}{% for category in post.categories %}
                                			<a href="../category/{{ category.slug }}" class="f1-s-6 cl8 hov-cl10 trans-03">
                                				{{ category.name }}
                                			</a>{% if not loop.last %}, {% endif %}
                                                {% endfor %}{% endif %}
                                
                                			<span class="f1-s-3 m-rl-3">
                                				|
                                			</span>
                                
                                			<span class="f1-s-3">
                                				{{ post.published_at.diffForHumans() }} | <i class="fa fa-eye"></i> {{post.views}}
                                			</span>
                                		</span>
                                	</div>
                                	</li>	{% endfor %}                                								    
								
							</ul>
							
						</div>
						<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									ВИДЕО
								</h3>
							</div>						
						<div class="flex-c-s p-b-50">
						{% partial 'video-home' %}
						</div>
						
						<div>
						   
						   <div class="flex-c-s p-b-50">
						   <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <!-- Vietnews-300x250 -->
                                    <ins class="adsbygoogle"
                                         style="display:inline-block;width:300px;height:250px"
                                         data-ad-client="ca-pub-8101715655477045"
                                         data-ad-slot="2143459603"></ins> 
                                         <script>
                                 (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
							</div>	
						</div>

						<!-- Tag -->
						<div>
							<div class="how2 how2-cl4 flex-s-c m-b-30">
								<h3 class="f1-m-2 cl3 tab01-title">
									Тэги
								</h3>
							</div>

							<div class="flex-wr-s-s m-rl--5">								
							{% partial 'tags' %}
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<div itemscope itemtype="http://schema.org/NewsArticle">
    <h1 itemprop="headline">{{post.title}}</h1>
    <span itemprop="datePublished" content="{{ post.published_at|date('yy-m-d') }}">{{ post.published_at|date('yy-m-d') }}</span>
    <span itemprop="description">{{ post.summary|raw }}</span><br>
    <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="height" content="180">
        <meta itemprop="width" content="250">
        <meta itemprop="url" content="{{ post.subtitle }}">
        <img src="{{ post.subtitle }}" alt="{{post.title}}">
    </div>
    Author: <span itemprop="author">Vietnews.ru</span><br>
    <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
            <meta itemprop="url" content="https://vietnews.ru/themes/vietnewsru/assets/images/logo_ru.png">
            <img src="https://vietnews.ru/themes/vietnewsru/assets/images/logo_ru.png" alt="undefined">
        </div>
        <span itemprop="name">Vietnews.ru</span>
    </div>
    <span itemprop="articleBody">{{ post.content_html|raw }}</span>
</div>
	
	{% if backendUser %}
	{% component 'registerVisit' %}
	{% endif %}