title = "Test Grid10"
url = "/test/grid10"
is_hidden = 0
robot_index = "noindex"
robot_follow = "nofollow"
contentType = "html"
force_show = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<link href="{{ 'assets/css/grid10.css'|theme }}" rel="stylesheet" />


{#<div class="c-newspaper">
  <article class="c-article c-article--1">
      {% for post in blogPosts.posts %}{% if loop.index ==1 %}
      <img src="{{ post.subtitle }}" alt="{{ image.description }}"
      style="max-width: 100%" class="lazyload" />
      <a href="{{post.url}}">
        <h2>{{post.title}}</h2>
        <div class="meta">
          <span class="genre">{{post.summary}}</span><br>
          <span class="author">{{ post.published_at.diffForHumans() }}</span>
        </div>
      </a>
      {% endif %}{% endfor %}
  </article>
  <article class="c-article c-article--2">
  {% for post in blogPosts.posts %}{% if loop.index ==2 %}
      <img src="{{ post.subtitle }}" alt="{{ image.description }}"
      style="max-width: 100%" class="lazyload" />
      <a href="{{post.url}}">
        <h2>{{post.title}}</h2>
        <div class="meta">
          <span class="genre">{{post.summary}}</span><br>
          <span class="author">{{ post.published_at.diffForHumans() }}</span>
        </div>
      </a>
      {% endif %}{% endfor %}
  </article>
  <article class="c-article c-article--featured">
  {% for post in blogPosts.posts %}{% if loop.index ==3 %}
      <img src="{{ post.subtitle }}" alt="{{ image.description }}"
      style="max-width: 100%" class="lazyload" />
      <a href="{{post.url}}">
        <h2>{{post.title}}</h2>
        <div class="meta">
          <span class="genre">{{post.summary}}</span><br>
          <span class="author">{{ post.published_at.diffForHumans() }}</span>
        </div>
      </a>
      {% endif %}{% endfor %}
  </article>
  <article class="c-article c-article--3">
  {% for post in blogPosts.posts %}{% if loop.index ==4 %}
      <img src="{{ post.subtitle }}" alt="{{ image.description }}"
      style="max-width: 100%" class="lazyload" />
      <a href="{{post.url}}">
        <h2>{{post.title}}</h2>
        <div class="meta">
          <span class="genre">{{post.summary}}</span><br>
          <span class="author">{{ post.published_at.diffForHumans() }}</span>
        </div>
      </a>
      {% endif %}{% endfor %}
  </article>
  <article class="c-article c-article--4">
  {% for post in blogPosts.posts %}{% if loop.index ==5 %}
      <img src="{{ post.subtitle }}" alt="{{ image.description }}"
      style="max-width: 100%" class="lazyload" />
      <a href="{{post.url}}">
        <h2>{{post.title}}</h2>
        <div class="meta">
          <span class="genre">{{post.summary}}</span><br>
          <span class="author">{{ post.published_at.diffForHumans() }}</span>
        </div>
      </a>
      {% endif %}{% endfor %}
  </article>
  <article class="c-article c-article--5">
  {% for post in blogPosts.posts %}{% if loop.index ==6 %}
      <img src="{{ post.subtitle }}" alt="{{ image.description }}"
      style="max-width: 100%" class="lazyload" />
      <a href="{{post.url}}">
        <h2>{{post.title}}</h2>
        <div class="meta">
          <span class="genre">{{post.summary}}</span><br>
          <span class="author">{{ post.published_at.diffForHumans() }}</span>
        </div>
      </a>
      {% endif %}{% endfor %}
  </article>
  <article class="c-article c-article--6">
  {% for post in blogPosts.posts %}{% if loop.index ==7 %}
      <img src="{{ post.subtitle }}" alt="{{ image.description }}"
      style="max-width: 100%" class="lazyload" />
      <a href="{{post.url}}">
        <h2>{{post.title}}</h2>
        <div class="meta">
          <span class="genre">{{post.summary}}</span><br>
          <span class="author">{{ post.published_at.diffForHumans() }}</span>
        </div>
      </a>
      {% endif %}{% endfor %}
  </article>
  <article class="c-article c-article--7">
  {% for post in blogPosts.posts %}{% if loop.index ==8 %}
      <img src="{{ post.subtitle }}" alt="{{ image.description }}"
      style="max-width: 100%" class="lazyload" />
      <a href="{{post.url}}">
        <h2>{{post.title}}</h2>
        <div class="meta">
          <span class="genre">{{post.summary}}</span><br>
          <span class="author">{{ post.published_at.diffForHumans() }}</span>
        </div>
      </a>
      {% endif %}{% endfor %}
  </article>
</div>#}

<div class="c-newspaper">
  <div class="c-newspaper__column">
        <article class="c-article c-article--1">
        {% for post in blogPosts.posts %}{% if loop.index ==1 %}
      <img src="{{ post.subtitle }}" alt="{{ image.description }}"
      style="max-width: 100%" class="lazyload" />
      <a href="{{post.url}}">
        <h2>{{post.title}}</h2>
        <div class="meta">
          <span class="genre">{{post.summary}}</span><br>
          <span class="author">{{ post.published_at.diffForHumans() }}</span>
        </div>
      </a>
      {% endif %}{% endfor %}
        </article>
        <article class="c-article c-article--2">
        {% for post in blogPosts.posts %}{% if loop.index ==2 %}
      <img src="{{ post.subtitle }}" alt="{{ image.description }}"
      style="max-width: 100%" class="lazyload" />
      <a href="{{post.url}}">
        <h2>{{post.title}}</h2>
        <div class="meta">
          <span class="genre">{{post.summary}}</span><br>
          <span class="author">{{ post.published_at.diffForHumans() }}</span>
        </div>
      </a>
      {% endif %}{% endfor %}
        </article>
        <article class="c-article c-article--featured">
        {% for post in blogPosts.posts %}{% if loop.index ==3 %}
      <img src="{{ post.subtitle }}" alt="{{ image.description }}"
      style="max-width: 100%" class="lazyload" />
      <a href="{{post.url}}">
        <h2>{{post.title}}</h2>
        <div class="meta">
          <span class="genre">{{post.summary}}</span><br>
          <span class="author">{{ post.published_at.diffForHumans() }}</span>
        </div>
      </a>
      {% endif %}{% endfor %}
        </article>
  </div>
  <div class="c-newspaper__column">
        <article class="c-article c-article--3">
        {% for post in blogPosts.posts %}{% if loop.index ==4 %}
      <img src="{{ post.subtitle }}" alt="{{ image.description }}"
      style="max-width: 100%" class="lazyload" />
      <a href="{{post.url}}">
        <h2>{{post.title}}</h2>
        <div class="meta">
          <span class="genre">{{post.summary}}</span><br>
          <span class="author">{{ post.published_at.diffForHumans() }}</span>
        </div>
      </a>
      {% endif %}{% endfor %}
        </article>
        <article class="c-article c-article--4">
        {% for post in blogPosts.posts %}{% if loop.index ==5 %}
      <img src="{{ post.subtitle }}" alt="{{ image.description }}"
      style="max-width: 100%" class="lazyload" />
      <a href="{{post.url}}">
        <h2>{{post.title}}</h2>
        <div class="meta">
          <span class="genre">{{post.summary}}</span><br>
          <span class="author">{{ post.published_at.diffForHumans() }}</span>
        </div>
      </a>
      {% endif %}{% endfor %}
        </article>
        <article class="c-article c-article--5">
        {% for post in blogPosts.posts %}{% if loop.index ==6 %}
      <img src="{{ post.subtitle }}" alt="{{ image.description }}"
      style="max-width: 100%" class="lazyload" />
      <a href="{{post.url}}">
        <h2>{{post.title}}</h2>
        <div class="meta">
          <span class="genre">{{post.summary}}</span><br>
          <span class="author">{{ post.published_at.diffForHumans() }}</span>
        </div>
      </a>
      {% endif %}{% endfor %}
        </article>
  </div>
  <div class="c-newspaper__column">
        <article class="c-article c-article--6">
        {% for post in blogPosts.posts %}{% if loop.index ==7 %}
      <img src="{{ post.subtitle }}" alt="{{ image.description }}"
      style="max-width: 100%" class="lazyload" />
      <a href="{{post.url}}">
        <h2>{{post.title}}</h2>
        <div class="meta">
          <span class="genre">{{post.summary}}</span><br>
          <span class="author">{{ post.published_at.diffForHumans() }}</span>
        </div>
      </a>
      {% endif %}{% endfor %}
        </article>
        <article class="c-article c-article--7">
        {% for post in blogPosts.posts %}{% if loop.index ==8 %}
      <img src="{{ post.subtitle }}" alt="{{ image.description }}"
      style="max-width: 100%" class="lazyload" />
      <a href="{{post.url}}">
        <h2>{{post.title}}</h2>
        <div class="meta">
          <span class="genre">{{post.summary}}</span><br>
          <span class="author">{{ post.published_at.diffForHumans() }}</span>
        </div>
      </a>
      {% endif %}{% endfor %}
        </article>
  </div>
</div>