title = "test grid6"
url = "/test/grid6"
is_hidden = 0
robot_index = "noindex"
robot_follow = "nofollow"
contentType = "html"
force_show = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "news/category"
postPage = "news/news"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "news/category"
==
<link href="{{ 'assets/css/grid6.css'|theme }}" rel="stylesheet" />

<!-- small -->
{% set posts = blogPosts.posts %}
{% for post in posts %}
<div class="o-teaser__title"><a href="{{ post.url }}" data-trackable="heading-link" class="js-teaser-heading-link"> {{ post.title }} </a></div>
<div class="o-teaser o-teaser--article o-teaser--smallx1x1 o-teaser--has-image js-teaser">
  <div class="o-teaser__content">
    <div class="o-teaser__meta">
      <div class="o-teaser__meta-concept"><span class="o-teaser__tag-prefix">Рубрика:</span>
      {% if post.categories.count %} {% endif %}
                {% for category in post.categories %}
      <a class="o-teaser__tag" data-trackable="teaser-tag" href="{{ category.url }}"> {{ category.name }} </a>{% if not loop.last %}- {% endif %}
                {% endfor %}</div>
    </div>
    <div class="o-teaser__heading"><a href="{{ post.url }}" data-trackable="heading-link" class="js-teaser-heading-link"> {{ post.title }} </a></div>
    <p class="o-teaser__standfirst">{{ post.summary }}</p>
    <div class="o-teaser__timestamp"><time class="o-teaser__timestamp-date" datetime="2018-07-25T04:03:39+0000">{{ post.published_at.diffForHumans() }}</time></div>
  </div>
  <div class="o-teaser__image-container js-teaser-image-container">
    <div class="o-teaser__image-placeholder" style="padding-bottom:56.25%;"><a href="#" data-trackable="image-link" tab-index="-1" aria-hidden="true"><img class="o-teaser__image" src="{{ post.subtitle }}?source=next&amp;fit=scale-down&amp;compression=best&amp;width=340" alt=""></a></div>
  </div>
</div>
</div>
{% endfor %}


{% set posts = blogPosts.posts %}
					{% for post in posts %}
<!-- small -->
<h1>Small teaser</h1>
<div class="o-teaser o-teaser--article o-teaser--small o-teaser--has-image js-teaser">
  <div class="o-teaser__content">
    <div class="o-teaser__meta">
      <div class="o-teaser__meta-concept"><span class="o-teaser__tag-prefix">Рубрика:</span>
      {% if post.categories.count %} {% endif %}
                {% for category in post.categories %}
      <a class="o-teaser__tag" data-trackable="teaser-tag" href="{{ category.url }}"> {{ category.name }} </a>{% if not loop.last %}- {% endif %}
                {% endfor %}</div>
    </div>
    <div class="o-teaser__heading"><a href="{{ post.url }}" data-trackable="heading-link" class="js-teaser-heading-link"> {{ post.title }} </a></div>
    <p class="o-teaser__standfirst">{{ post.summary }}</p>
    <div class="o-teaser__timestamp"><time class="o-teaser__timestamp-date" datetime="2018-07-25T04:03:39+0000">{{ post.published_at.diffForHumans() }}</time></div>
  </div>
  <div class="o-teaser__image-container js-teaser-image-container">
    <div class="o-teaser__image-placeholder" style="padding-bottom:56.25%;"><a href="#" data-trackable="image-link" tab-index="-1" aria-hidden="true"><img class="o-teaser__image" src="{{ post.subtitle }}?source=next&amp;fit=scale-down&amp;compression=best&amp;width=340" alt=""></a></div>
  </div>
</div>
{% endfor %}

<!-- large -->
<h1>Large teaser</h1>
<div class="o-teaser o-teaser--article o-teaser--large o-teaser--has-image js-teaser">
  <div class="o-teaser__content">
    <div class="o-teaser__meta">
      <div class="o-teaser__meta-concept"><span class="o-teaser__tag-prefix">Рубрика:</span>
      {% if post.categories.count %} {% endif %}
                {% for category in post.categories %}
      <a class="o-teaser__tag" data-trackable="teaser-tag" href="{{ category.url }}"> {{ category.name }} </a>{% if not loop.last %}- {% endif %}
                {% endfor %}</div>
    </div>
    <div class="o-teaser__heading"><a href="{{ post.url }}" data-trackable="heading-link" class="js-teaser-heading-link"> {{ post.title }} </a></div>
    <p class="o-teaser__standfirst">{{ post.summary }}</p>
    <div class="o-teaser__timestamp"><time class="o-teaser__timestamp-date" datetime="2018-07-25T04:03:39+0000">{{ post.published_at.diffForHumans() }}</time></div>
  </div>
  <div class="o-teaser__image-container js-teaser-image-container">
    <div class="o-teaser__image-placeholder" style="padding-bottom:56.25%;"><a href="#" data-trackable="image-link" tab-index="-1" aria-hidden="true"><img class="o-teaser__image" src="{{ post.subtitle }}?source=next&amp;fit=scale-down&amp;compression=best&amp;width=340" alt=""></a></div>
  </div>
</div>


<!-- hero -->
<h1>Hero teaser</h1>
<div class="o-teaser o-teaser--article o-teaser--hero o-teaser--has-image js-teaser">
  <div class="o-teaser__content">
    <div class="o-teaser__meta">
      <div class="o-teaser__meta-concept"><span class="o-teaser__tag-prefix">Рубрика:</span>
      {% if post.categories.count %} {% endif %}
                {% for category in post.categories %}
      <a class="o-teaser__tag" data-trackable="teaser-tag" href="{{ category.url }}"> {{ category.name }} </a>{% if not loop.last %}- {% endif %}
                {% endfor %}</div>
    </div>
    <div class="o-teaser__heading"><a href="{{ post.url }}" data-trackable="heading-link" class="js-teaser-heading-link"> {{ post.title }} </a></div>
    <div class="o-teaser__timestamp"><time class="o-teaser__timestamp-date" datetime="2018-07-25T04:03:39+0000">{{ post.published_at.diffForHumans() }}</time></div>
  </div>
  <div class="o-teaser__image-container js-teaser-image-container">
    <div class="o-teaser__image-placeholder" style="padding-bottom:56.25%;"><a href="#" data-trackable="image-link" tab-index="-1" aria-hidden="true"><img class="o-teaser__image" src="{{ post.subtitle }}?source=next&amp;fit=scale-down&amp;compression=best&amp;width=340" alt=""></a></div>
  </div>
</div>


<!-- top story -->
<h1>Top story teaser</h1>
<div class="o-teaser o-teaser--article o-teaser--top-story o-teaser--has-image js-teaser">
  <div class="o-teaser__content">
    <div class="o-teaser__meta">
      <div class="o-teaser__meta-concept"><span class="o-teaser__tag-prefix">Рубрика:</span>{% if post.categories.count %} {% endif %}
                {% for category in post.categories %}
                <a class="o-teaser__tag" data-trackable="teaser-tag" href="{{ category.url }}"> {{ category.name }} </a>{% if not loop.last %}- {% endif %}
                {% endfor %}</div>
    </div>
    <div class="o-teaser__heading"><a href="{{ post.url }}" data-trackable="heading-link" class="js-teaser-heading-link"> {{ post.title }} </a></div>
    <p class="o-teaser__standfirst">In{{ post.summary }}</p>
    <div class="o-teaser__timestamp"><time class="o-teaser__timestamp-date" datetime="2018-07-25T04:03:39+0000">{{ post.published_at.diffForHumans() }}</time></div>
  </div>
  <div class="o-teaser__image-container js-teaser-image-container">
    <div class="o-teaser__image-placeholder" style="padding-bottom:56.25%;"><a href="#" data-trackable="image-link" tab-index="-1" aria-hidden="true"><img class="o-teaser__image" src="{{ post.subtitle }}?source=next&amp;fit=scale-down&amp;compression=best&amp;width=340" alt=""></a></div>
  </div>
</div>


{% set posts = blogPosts.posts %}
					{% for post in posts %}
<!-- vnone -->
<div class="vnone vnone__title"><a href="{{ post.url }}"> {{ post.title }} </a></div>
<div>
  <div class="o-teaser o-teaser--article vnone o-teaser--has-image js-teaser">
    <div>
      <div class="o-teaser__meta-concept"><span class="o-teaser__tag-prefix">Рубрика:</span>
      {% if post.categories.count %} {% endif %}
                {% for category in post.categories %}
      <a class="o-teaser__tag" data-trackable="teaser-tag" href="{{ category.url }}"> {{ category.name }} </a>{% if not loop.last %}- {% endif %}
                {% endfor %}</div>
    </div>    
    <p class="o-teaser__content">{{ post.summary }}</p>
    <div class="o-teaser__timestamp"><time class="o-teaser__timestamp-date" datetime="2018-07-25T04:03:39+0000">{{ post.published_at.diffForHumans() }}</time></div>
  </div>
  <div class="o-teaser__image-container js-teaser-image-container">
    <div class="o-teaser__image-placeholder" style="padding-bottom:56.25%;"><a href="#" data-trackable="image-link" tab-index="-1" aria-hidden="true"><img class="o-teaser__image" src="{{ post.subtitle }}?source=next&amp;fit=scale-down&amp;compression=best&amp;width=340" alt=""></a></div>
  </div>
</div>
{% endfor %}