[viewBag]

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "business"
postsPerPage = 1
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "news/category"
postPage = "news/news"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "news/category"
==
{% set posts = blogPosts.posts %}{% for post in posts %}
<div class="sport-top-articles__sub-img">
        <a href="{{ post.url }}"><img src="{{ post.subtitle }}" alt="bg" border="0"> </a>
      </div>
      <div class="sport-top-articles__sub-copy">
        <h4> <a href="{{ post.url }}" class="text-secondary">{{ post.title }}</a> </h4>
        <div class="meta">
          <span class=""> {{ post.published_at.diffForHumans() }} </span>
      <span>|</span>
      <span class="">  {% if post.categories.count %} {% endif %}
            {% for category in post.categories %}
    <a class="text-secondary" href="{{ category.url }}"> {{ category.name }} </a>
            {% endfor %} </span>
        </div>
      </div>
{% endfor %}