[viewBag]

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "top"
postsPerPage = 1
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "news/category"
postPage = "news/news"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "news/category"
==
{% set post = blogPosts.posts.first %}

    <div class="sport-top-articles__img">
      <a href="{{ post.url }}"><img src="{{ post.subtitle }}" alt="{{ post.title }}" border="0"> </a>
    </div>
    <div class="sport-top-articles__copy">
      <div class="sport-top-articles--header">
        <h3> <strong><a class="sport-top-articles--header" href="{{ post.url }}">{{ post.title }}</a> </strong></h3>
        <div class="copy hidden">
         {{ str_limit(post.summary, 70, '...') }}
        </div>
      </div>
      <div class="sport-top-articles--meta">
        <span class="news-times"> {{ post.published_at.diffForHumans() }} </span>
      <span></span>
      <span class="">  {% if post.categories.count %} {% endif %}
            {% for category in post.categories %}
    <a class="cat" href="{{ category.url }}"> {{ category.name }} </a>
            {% endfor %} </span>
      </div>
    </div>