[viewBag]

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "top"
postsPerPage = 2
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "news/category"
postPage = "news/news"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "news/category"
==
{% set post = blogPosts.posts.first %}
{% for post in posts %}{% if loop.index == 2 %}
<div class="sport-top-articles__sub-img">
        <a href="{{ post.url }}"><img src="{{ post.subtitle }}" alt="bg" border="0"> </a>
      </div>
      <div class="sport-top-articles__sub-copy">
        <h4> <strong><a class="sport-top-articles__sub-copy" href="{{ post.url }}">{{ post.title }}</a> </strong> </h4>
        <div class="copy hidden">
         {{ str_limit(post.summary, 100, '...') }}
        </div>
        <div class="meta">
          <span class="news-times"> {{ post.published_at.diffForHumans() }} </span>
      <span></span>
      <span class="">  {% if post.categories.count %} {% endif %}
            {% for category in post.categories %}
    <a class="cat" href="{{ category.url }}"> {{ category.name }} </a>
            {% endfor %} </span>
        </div>
      </div>{% endif %}
{% endfor %}