.c-newspaper {
  display: grid;
  grid-template-columns: 0.2fr 0.6fr 0.2fr;
  grid-template-areas: 
                    "item-1 featured item-2"
                    "item-3 featured item-4"
                    "item-5 item-6 item-7";
  grid-gap: 1rem;
}

.c-article--1 {
    grid-area: item-1;
}

.c-article--2 {
    grid-area: item-2;
}

/*..And so on for other elements.. each one has a grid-area..*/

.c-article--7 {
    grid-area: item-7;
}

.c-article--featured {
    grid-area: featured;
}

.c-newspaper.variation-1 {
    grid-template-areas: 
                    "featured featured item-3" 
                    "item-1 item-2 item-4" 
                    "item-5 item-6 item-7";
}