title = "Все тэги"
url = "/tags/:tag?/:page?"
layout = "tailwind-category"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
contentType = "html"
force_show = 0

[tagList]
orderBy = "posts_count desc"
postSlug = "{{ :slug }}"
limit = 100
enableTagFilter = "never"
tagPage = "news/tag"
tagsPage = "news/tags"
==
{% partial 'tailwind/header5' %} 

<!-- component -->
<div class="max-w-screen-xl mx-auto bg-white">
<br><br>
<h2 class="text-4xl font-semibold text-gray-700 leading-tight">
			<strong>Самые популярные темы:</strong>
		</h2><br>
<div>{% set tags = tagList.tags %}
{% if tags | length %}
        {% for item in tags %}
            {% set postCount = item.posts_count %}
  <div
    class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-blue-200 text-blue-700 rounded-full"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-arrow-right mr-2"
    >
      <line x1="5" y1="12" x2="19" y2="12"></line>
      <polyline points="12 5 19 12 12 19"></polyline>
    </svg>
    <a href="{{ item.url }}"> {{ item.name }}
                {% if postCount %}
                    <span class="bg-white p-1 rounded text-blue-600 text-xs ml-2">{{ postCount }}</span>
                {% endif %}
       </a>        
  </div> {% endfor %}
{% endif %}
<br><br>
    
    {% partial 'tailwind/block-category4' %}
    {% partial 'tailwind/business' %}
{% partial 'youtube' %}
    
    {% if backendUser %}
	{% component 'registerVisit' %}
	{% endif %}
    </div>
    {% partial 'tailwind/footer2' %}