[SeoPage]
==
<!doctype html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="ru">
  <head>
      {% component 'SeoPage' %}
    <!-- Required meta tags -->
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{{ post.summary }}">
    <meta name="keywords" content="{{ this.page.meta_keywords }}">
    <meta name="author" content="Vietnews.ru - Все о Вьетнаме">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ post.title}}">
    <meta itemprop="description" content="{{ post.summary }}">
    <meta itemprop="image" content="{{ post.subtitle }}">
    <meta property="og:site_name" content="Vietnews.ru - Все о Вьетнаме">
    <meta property="og:title" content="{{ post.title}}">
    <meta property="og:url" content="https://vietnews.ru/{% for category in post.categories %}{{category.slug}}{% endfor %}/{{ post.slug }}" />
    <meta property="og:type" content="news">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:description" content="{{ post.summary }}">
    <meta property="og:image" content="{{ post.subtitle }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">  
    <meta name="twitter:image" content="{{ post.subtitle }}">
    <meta property="vk:image" content="{{ post.subtitle }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ post.title}}">
    <meta name="twitter:description" content="{{ post.summary }}">
    <meta name="yandex-verification" content="2676f5cd9e8830e6" />
    <link rel="alternate" type="application/rss+xml" title="Vietnews.ru - Все о Вьетнаме" href="/rss" />
    <title>{{ post.title }} | Vietnews.ru - Все о Вьетнаме</title>

<!-- core CSS -->
    {% styles %}
       {# <link href="https://unpkg.com/tailwindcss@1.7.3/dist/tailwind.min.css" rel="stylesheet"> #}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700">
    <link rel="stylesheet" href="https://vietnews.ru/themes/vietnewsru/assets/css/tailwindmegamenu.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.5/dist/base.min.css" />
<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.5/dist/components.min.css" />
<link
  rel="stylesheet"
  href="https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css"
/>
<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.5/dist/utilities.min.css" />
    
    <!-- Favicon-->
 <link rel="shortcut icon" href="{{ 'assets/images/favicon.png'|theme }}" type="image/png">
    <link rel="icon" href="{{ 'assets/images/favicon.png'|theme }}" type="image/png">
    <link rel="shortcut icon" href="{{ 'assets/images/favicon.ico'|theme }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'assets/images/icons/vietnews-ico-144.png'|theme }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'assets/images/icons/vietnews-ico-114.png'|theme }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ 'assets/images/icons/vietnews-ico-72.png'|theme }}">
    <link rel="apple-touch-icon-precomposed" href="{{ 'assets/images/icons/vietnews-ico-57.png'|theme }}">
    <link rel="manifest" href="{{ 'assets/images/favicon.png'|theme }}">
    <link rel="mask-icon" href="{{ 'assets/images/favicon.png'|theme }}" color="#1e2831">
    
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T2JTTJ2');</script>
<!-- End Google Tag Manager -->

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "WebSite",
  "name" : "VietNews",
  "alternateName" : "VietNews.ru, Все о Вьетнаме, Новости Вьетнама, Вьетнам сегодня, Вьетнам туризм, Экономика Вьетнама, Наука и Технология Вьетнама, медицина Вьетнама, политика Вьетнама,",
  "url" : "https://vietnews.ru",
  "logo": "{{'assets/images/icons/logo_vn.png'|theme }}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://vietnews.ru/news/search/{url}",
    "query-input": "required name=url" },
  "sameAs" : [
    "https://vk.com/vietnewsru",
    "https://www.facebook.com/vietnews.ru",
    "https://tưitter.com/vietnewsru",
    "https://www.instagram.com/vietnewsru"
  ]
}
</script>

  </head>
  <body>

   {% page %}
   
    
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="{{ 'assets/js/app.js'|theme }}"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<script type="text/javascript" src="{{ 'assets/js/lazysizes.min.js'|theme }}"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>


    {% framework extras %}
    {% scripts %}  

</body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2JTTJ2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</html>